$bg-color: rgba(44, 47, 72, 0.5);
$txt-black: #1d203e;
$hover: #e8ebed;

$main-bg: #ffffff;
$second-bg: #fafafb;
$txt-color: #455560;
$txt-white: #fff;
$main-color: #349eff;
$second-color: #62b4ff;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$main-bg-light: #ffffff;
$second-bg-light: #fafafb;
$txt-color-light: #455560;
$box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$main-bg-dark: #2d2d2d;
$second-bg-dark: #202020;
$txt-color-dark: #bbbbbb;
$box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

$mobile-width: 800px;
$tablet-width: 1024px;
$leftSide-width: 96px;
$top-height: 66px;
$leftSide-width-sm: 80px;
$rightSide-width: 320px;

$offset: 187;
$duration: 1.4s;
