:root {
  --main-bg-light: #ffffff;
  --second-bg-light: #fafafb;
  --txt-color-light: #455560;
  --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --hover-light: #e8ebed;
  --icon-light: rgba(22, 25, 35, 0.25);
  --icon-light-2: rgba(22, 25, 35, 0.75);
  --color-sub-light: #ffefbf;
  --bg-search-light: rgba(255, 255, 255, 0.9);

  --main-bg-dark: #2d2d2d;
  --second-bg-dark: #202020;
  --txt-color-dark: #dddddd;
  --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  --hover-dark: #3f434c;
  --icon-dark: rgba(215, 215, 215, 0.4);
  --icon-dark-2: rgba(215, 215, 215, 0.95);
  --color-sub-dark: #464646;
  --bg-search-dark: rgba(45, 45, 45, 0.9);
}
.theme-mode-light {
  --main-bg: var(--main-bg-light);
  --bg-search: var(--bg-search-light);
  --second-bg: var(--second-bg-light);
  --txt-color: var(--txt-color-light);
  --box-shadow: var(--box-shadow-light);
  --hover: var(--hover-light);
  --icon: var(--icon-light);
  --icon-2: var(--icon-light-2);
  --color-sub: var(--color-sub-light);
}

.theme-mode-dark {
  --main-bg: var(--main-bg-dark);
  --bg-search: var(--bg-search-dark);
  --second-bg: var(--second-bg-dark);
  --txt-color: var(--txt-color-dark);
  --box-shadow: var(--box-shadow-dark);
  --hover: var(--hover-dark);
  --icon: var(--icon-dark);
  --icon-2: var(--icon-dark-2);
  --color-sub: var(--color-sub-dark);
}
