.test{
    &__container{
        @include flex(center, center);
        flex-direction: column;
        gap: 1.5rem 0;
        height: 65vh;
    }
    &__bottom{
        margin: 4rem 0 2rem 0;
        padding: 0 15%;
        @include flex(center, space-between);
        @include mobile{
            flex-wrap: wrap;
            gap: 5px;
        }
    }
    &__nums{
        @include flex(center, center);
        gap: 0 5px;
        font-size: 2rem;
        @include mobile{
            flex-wrap: wrap;
            gap: 5px;
        }
        &__item{
            background-color: var(--main-bg);
            padding: 5px 8px;
            cursor: pointer;
            box-shadow: var(--box-shadow);
            width: 30px;
            text-align: center;
            border-radius: 5px;
            &.active{
                color: $main-color;
                transform: scale(1.2) translateY(-5px);
                @include mobile{
                    transform: scale(1.12) translateY(-2px);
                }
            }
            &.false{
                background-color: #fb6e58;
                color: #fff;
            }
            &.true{
                background-color: #23b26d;
                color: #fff;
            }
        }
    }
    &__submit{
        padding: 1rem 2rem;
        background-color: $main-color;
        color: $txt-white;
        font-size: 1.8rem;
        cursor: pointer;
        border-radius: 5px;
    }
}